<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/notification.css') }}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message_type == 'error' %}danger{% elif message_type == 'success' %}success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="form">
            <form method="post">
                <input type="text" hidden id="ip_address" name="ip_address" value="{{ ip_address }}">
                <div class="title">
                    Create subscription
                </div>
                <div>
                    <label for="email">Email:</label>
                </div>
                <div class="input-data">
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="wallet_id">Wallet ID:</label>
                </div>
                <div class="input-data">
                    <input type="text" id="wallet_id" name="wallet_id" required>
                </div>
                <div>
                    <label for="telegram_id">Telegram ID:</label>
                </div>
                <div class="input-data">
                    <input type="text" maxlength="10" minlength="9" id="telegram_id" name="telegram_id" required>
                </div>
                <div>
                    <label for="health_ratio_level">Health ratio level:</label>
                </div>
                <div class="input-data">
                    <input type="text" name="health_ratio_level" id="health_ratio_level" required>
                </div>
                <div>
                    <label for="protocol_id">Protocol ID:</label>
                </div>
                <div class="input-data">
                    <select id="protocol_id" name="protocol_id">
                        {% for protocol_id in protocol_ids %}
                            <option>{{protocol_id}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="submit">
                    <button type="submit" value="Submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>