# PostgreSQL
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=web_app
DB_HOST=db
DB_PORT=5432


# Telegram
TELEGRAM_TOKEN= # token telegram from botfather

# IpInfo
IP_INFO_TOKEN=#

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Data Handler
DATA_HANDLER_URL=http://localhost:5000